[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "statwitness"]
	path = statwitness
	url = https://github.com/george33cy/statwitness
